[Unit]
Description=Fcitx5 input method
After=graphical-session.target
PartOf=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/fcitx5 --disable notificationitem
Restart=always
RestartSec=2

[Install]
WantedBy=graphical-session.target
